#app{
  height:90vh;
}

.day {
	background-color: #fff;
    color: #000;
}
#app {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.night{
  background-color: black;
  color:white;
}

#ptag{
	color: aqua;
}

#swap{
  outline:0;
}

.button_night{
  background-color:blue;
  color:white; 
}
